@font-face {
    font-family: 'Nordic';
    src: url('C:\\Users\\micha\\Documents\\Projects\\Signup\\Norse-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}
body {
    font-family: 'Nordic', sans-serif; 
}

.sidebar-content img {
    width: 40%;
    height: auto;
}

.content {
    display: flex;
}

.sidebar {
    width: 50%;
    padding: 50px;
}

.sidebar-content {
    text-align: center;
}

.mainContent {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.formContent {
    max-width: 400px;
    margin: 0 auto;
    align-self: flex-start; /* Przesuń .formContent na lewą stronę */
}

form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 15px;
}

.input label {
    display: block;
    margin-bottom: 5px;
}

.inputText {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.btn {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

