body {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #e4a7db, #d245db, #a22dce, #7d3ac5, #4d56bd);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.calculator{ 
  height: 60vh;
  min-width: 370px;
  max-width: 370px;
}


.output {
  grid-column: span 4;
  min-height: 70px;
  background-color: #333;
  color: white;
  text-align: right;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
}

button {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.panel {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}

button:hover {
  background-color: #444;
}

button.span-two {
  grid-column: span 2;
}

button.AC {
  background-color: #f44336;
}

button.DEL {
  background-color: #ff9800;
}

button.equal {
  background-color: #2196f3;
}

button.number {
  background-color: #44;
}

